<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngFor="let item of navItems; let i = index;" class="nav-item">
        <a
          class="nav-link"
          (click)="navItemClick(i)"
          [routerLink]="[item.path]"
          [routerLinkActive]="['is-active-item']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ item.label }}
        </a>
      </li>

    </ul>
    <ul class="navbar-nav">
      <li *ngFor="let item of navItemsAuth; let i = index;">
        <a
          class="nav-link"
          (click)="navItemClick(i)"
          [routerLink]="[item.path]"
          [routerLinkActive]="['is-active-item']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ item.label }}
        </a>
      </li>
    </ul>
  </div>
</nav>
