/* Basic styling for the navbar */
.navbar {
  display: flex;
}
nav {
  padding: 1rem;
}

/* Style for links */
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

nav ul li a:hover {
  text-decoration: underline;
}

.collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dropdown{
  display: none;
}
